* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  margin: 40px 40px;
  /* border: 2px solid rebeccapurple; */
}

.left h3 {
  font-size: 36px;
  font-weight: 900;
}

.left p {
  margin-top: 20px;
  font-size: 18px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  row-gap: 20px;
  padding-right: 60px;
  text-align: center;
}

.right .try-it {
  padding: 10px 20px;
  background-color: hsl(248, 32%, 49%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
}

.right form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  border-radius: 6px;
  row-gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* margin: 40px 40px; */
}

.right form input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}

.right form button {
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  padding: 10px;
  border: none;
}

.right form p {
  width: 100%;
  text-align: center;
  font-size: 8px;
  color: rgb(34, 31, 31);
}

@media screen and (max-width: 1080px){
    body{
        column-gap: 10px;
    }
}

@media screen and (max-width: 720px) {
  body {
    flex-direction: column;
    row-gap: 20px;
    padding: 40px 0;
    text-align: center;
  }
  .right{
      padding-right: 0;
  }
}

@media screen and (max-width: 440px) {
    .right{
        padding: 0 20px;
    }
  }